# LaTeX artifacts
*.aux
*.bbl
*.bcf
*.blg
*.log
*.log
*.lot
*.lof
*.out
*.pdf
*.run.xml
*.synctex.gz
*.toc

# Python environment marker
.python-version

# Python artifacts
__pycache__
.ipynb_checkpoints
