# Interactive Development
ipython
ipdb
jupyter

# Algebra/Computations
numpy
scipy
# Pillow is required for image related functionality
Pillow

# Plotting/Visualization
matplotlib
PyQt5

# Data Handling
pandas
h5py

# General Learning
scikit-learn

# Neural Networks
tensorflow
keras

# Levenshtein
editdistance

# Progress bar
tqdm
